.mock
    background-color: rgba(0,0,0,.6)
    position: fixed
    left: 0
    top: 0
    height: 100vh
    width: 100vw
    z-index: 99
    &.room
        display: flex
        justify-content: center
        align-items: center

.wrapper
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    .speak-img
        max-width: 40vw
        width: 300px

// user state
#userState
    position: fixed
    right: 20px
    bottom: 20px
    z-index: 97
    padding: 16px
    text-align: right
    background-color: $lightBg
    border-radius: 1rem
    box-shadow: 0 0 20px 3px rgba(0,0,0,.1)
    transition: 1.25s $easeOutQuint
    &.hide
        transform: translateX(110%)
        opacity: 0.5
        +rwd(md)
            transform: translateX(100%)
    .d-flex
        justify-content: flex-end
    >.icon
        position: absolute
        left: -26px
        top: 16px
        width: 34px
        padding: 6px
        border-radius: 8px
        background-color: $lightBg
        cursor: pointer
        img
            display: inherit

// 分鏡敘事
.narrative
    background-color: $darkGrey
    transform: unset
    padding: 30px
    width: 100%
    height: 100vh
    position: relative
    left: 0
    z-index: 998
    color: $white
    text-align: center
    img
        max-width: 80%
.descrip-container
    padding: 0 30px
    span
        font-size: 13px !important
    @for $i from 1 through 30
        span:nth-child(#{$i})
            position: relative
            opacity: 0
            animation: textFadeIn .5s #{$i * .1}s ease-in-out forwards
    +rwd(md)
        writing-mode: vertical-rl
        text-orientation: mixed
        margin-left: 48px

// header
.my-header
    li:hover
        .icon
            transform: scale(1.2) rotate(15deg)
    .logo
        max-width: 100px
        +rwd(md)
            max-width: 150px
    .icon
        width: 36px
    ul
        flex-direction: column
        gap: 40px
        +rwd(md)
            flex-direction: row
            gap: 0

.descrip-lid
    position: relative
    cursor: pointer
    &::after
        content: attr(data-lid)
        display: block
        position: absolute
        right: 0
        top: -30px
        background-color: $darkYellowGreen
        color: $lightBg
        padding: .25rem .75rem
        border-radius: 50px
        opacity: 0
        transition: .3s ease
        pointer-events: none
        font-size: 14px
        width: max-content
        +basicTransition()
    &:hover::after
        opacity: 1
            
// sound icon
.toggle-sound-icon
    +basicTransition()
    width: 36px

// global game UI
.game-ui
    &.icon
        width: 60px
        cursor: pointer
        +basicTransition()

// 進場動畫
#loading
    +size(100%)
    position: fixed
    top: 0
    left: 0
    z-index: 999
    background-color: $accentDark
    background: url("../img/cover.jpg")
    background-size: cover
    animation: background-move-left 900s linear infinite
    button
        cursor: pointer
    .logo
        max-width: 150px
        +rwd(xs)
            max-width: 250px
    .wrapper
        flex-direction: column
        width: 100%
        top: 44%
        +rwd(sm)
            top: 50%
        +rwd(md)
            flex-direction: row
            justify-content: space-around
        +rwd(lg)
            width: 80vw
            max-width: 1150px
    .card
        max-height: 50vh
        overflow: scroll
        +rwd(md)
            max-height: unset
            overflow: initial

.popup
    background-color: lighten($main, 10%)
    border-radius: 8px
    box-shadow: 0 0 25px 5px rgba(0,0,0,.25)
    position: relative
    max-width: 85vw
    max-height: 80vh
    padding: 20px
    margin-top: 1.5rem
    +rwd(md)
        max-width: 40vw
        padding: 32px
        margin-top: 0
    &.dialogue
        width: 350px
        max-height: 70vh
        +rwd(sm)
            max-height: 55vh
    &.dialogue.func
        width: 100%
        margin-top: 0
        +rwd(md)
            width: 40vw

.img-container
    +size(100%)
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    cursor: pointer
    flex-shrink: 0
    >img
        max-width: 80%

.badge
    position: relative
    margin: 8px
    max-width: 75%
    flex-direction: column
    img
        max-width: 100%
        +rwd(md)
            +size(135px)
    &.locked
        opacity: 0.8
        filter: grayscale(100%)
    // &::after
    //     content: attr(data-descrip)
    //     display: block
    //     position: absolute
    //     top: 90%
    //     left: 50%
    //     z-index: 1
    //     background-color: $accentSubDark
    //     color: $white
    //     padding: 1rem
    //     border-radius: 1.5rem
    //     width: 350px
    //     max-width: 60vw
    //     opacity: 0
    //     +basicTransition()
    //     transform: translateX(-50%) translateY(20px)
    //     pointer-events: none
    // &:hover::after
    //     opacity: 1
    //     transform: translateX(-50%) translateY(0)

.close
    position: absolute
    +size(30px)
    right: 0
    top: -50px
    >img
        transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55)
    &:hover
        cursor: pointer
        >img
            transform: scaleX(1.5) scaleY(.8)

// personal Page
.room
    .container
        position: relative
        display: flex
        flex-direction: column
        max-height: 100vh
        +rwd(md)
            flex-direction: row
    .card
        +poa(50%, 50%)
        transform: translate(-50%, -50%)
.room-page
    border-radius: 8px
    position: relative
    .game-ui //exit icon
        width: 100px
        position: absolute
        z-index: -1
        right: 0
        top: -68px
        +rwd(md)
            right: -75px
            top: 30px
        &:hover
            transform: translateY(-10px)
            +rwd(md)
                transform: translateX(10px)
    .hint
        font-size: 14px
        position: absolute
        background-color: $lightBg
        text-align: center
        border-radius: 50px
        padding: .5rem 1.5rem
        left: 50%
        bottom: -10px
        width: 80vw
        transform: translateX(-50%)
        +basicShadow()
        +rwd(md)
            padding: .25rem .5rem
            top: 30px
            bottom: unset
            width: unset


#roomCanvasContainer, #houseCnvsContainer
    max-width: 90vw
    overflow: scroll
#coinContainer
    position: absolute
    background-color: $lightBg
    border: 2px solid $darkYellowGreen
    padding: 4px 20px
    padding-left: 40px
    border-radius: 30px
    cursor: default
    top: -20px
    left: 40px
    +rwd(md)
        top: -15px
        left: -15px
    .icon
        position: absolute
        cursor: pointer
        width: 32px
        transform: translateY(-50%)
        +basicTransition()
        bottom: -32px
        right: 0
        +rwd(md)
            right: 10px
        &:hover
            transform: translateY(-50%) scale(1.35)
    #coin
        position: absolute
        top: 50%
        transform: translateY(-50%)
        width: 60px
        left: -30px
        +rwd(md)
            left: -50px
            width: 90px
    span
        font-size: 16px
        +rwd(md)
            font-size: 24px
#furnitureContainer
    background-color: $lightBg
    border-radius: 8px
    position: absolute
    box-shadow: 0 0 25px 5px rgba(0,0,0,.25)
    padding: 1.5rem
    top: 50%
    transform: translateY(-50%)
    max-width: 90vw
    .icon
        +size(30px)
        position: absolute
        left: 50%
        transform: translateX(-50%) rotate(90deg)
        animation: hint-down .5s ease-in alternate infinite
    +rwd(md)
        top: unset
        bottom: -20px
        left: 50%
        width: 60vw
        max-width: unset
        transform: translateX(-50%)
        .icon
            left: unset
            bottom: unset
            top: 50%
            transform: translateY(-50%)
            animation: hint-right .5s ease-in alternate infinite
    .furnitures
        flex-direction: column
        gap: 12px
        +rwd(sm)
            max-height: 70vh
        +rwd(md)
            flex-direction: row
            max-height: unset
    .furniture
        position: relative
        background-color: $main
        border-radius: 1rem
        padding: 1rem
        display: flex
        align-items: center
        cursor: pointer
        flex-shrink: 0
        +basicTransition()
        +rwd(md)
            width: 300px
        &:hover
            opacity: 0.8
        &.locked
            pointer-events: none
            opacity: .8
            color: $darkGrey
            filter: grayscale(100%)
        .cate
            margin-top: 8px
            margin-bottom: 8px
            position: absolute
            bottom: 10px
            padding: .25rem .75rem
            border-radius: 50px
            color: $white
            &.lit
                background-color: darken($lit, 20%)
            &.des
                background-color: darken($des, 20%)
            &.tra
                background-color: darken($tra, 20%)
        &.bought
            pointer-events: none
            opacity: .3
            .cate
                background-color: darken($alarm, 20%)
        img
            max-height: 150px
        >div
            flex: 1
    .price
        font-size: 20px
        margin-bottom: 4px

#buyConfirm
    position: fixed
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background-color: $lightBg
    padding: 2rem
    border-radius: 8px
    width: 80vw
    +rwd(md)
        width: unset

//認養介面
.adopt-btn
    background-color: $accentDark
    padding: .5rem
    cursor: pointer
.adopt-goal
    background-color: darken($lightBg, 10%)
    margin-bottom: 1rem
    padding: 1rem 2rem
    border-bottom: 1px solid $secondaryGrey
.mission-rwd
    img
        width: 68px

.adoption-lists
    li
        padding-bottom: 1rem
        border-bottom: 1px solid $secondaryGrey
        text-align: left
        flex-direction: column
        align-items: self-start
        +rwd(md)
            flex-direction: row

// 留言板
.comment-board .scroll
    max-height: 55vh

.comment-lists
    display: flex
    flex-direction: column
    padding-top: 16px
.comment
    display: flex
    flex-direction: column
    align-items: start
    padding-bottom: 8px
    margin-bottom: 16px
    text-align: left
    +rwd(md)
        flex-direction: row
    img
        border-radius: 50%
        max-width: 40px
    .message
        width: 100%
        border-radius: 8px
        padding: 12px
        +rwd(md)
            margin-left: 8px
        &:not(.input)
            background-color: #e5e1ce
.my-inpt
    background-color: $lightBg

// 導引卡片
ul.carousel-lids
    display: flex
    justify-content: center
    gap: 8px
    li
        +size(12px)
        border-radius: 50%
        background-color: $tertiaryGrey
        +basicTransition()
        &:hover
            background-color: $darkGrey
        &.active
            background-color: $accentDark
        &.active:hover
            background-color: $accent
            
// 滾動
.scroll
    max-height: 35vh
    overflow-y: scroll
    // -ms-overflow-style: none
    // scrollbar-width: none
    +rwd(md)
        max-height: 40vh
    &.sm-only
        +rwd(md)
            max-height: unset
            overflow: initial
    // &::-webkit-scrollbar
    //     display: none
    &.furnitures, &.adopt
        max-height: 55vh

// 側邊進度
.progress-hint-lists
    position: fixed
    left: 20px
    top: 80px
    pointer-events: none
    width: 75vw
    +rwd(md)
        width: 50vw
        top: 10vh

.progress-hint
    display: inline-block
    margin-bottom: .8rem
    +basicTransition()
    &.hide
        opacity: 0
        transform: translateX(-100%)
    >p
        display: inline
        background-color: $lightBg
        padding: .25rem .65rem
        border-radius: 1rem
        +basicShadow()

// 新手
.novice
    background-color: $lightBg
    background-repeat: no-repeat
    max-height: unset !important
    button
        color: $accentDark

.bill-board
    position: fixed
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    background: url("../img/letter_bg.png")
    background-size: 100% 100%
    background-position-x: center
    background-repeat: no-repeat
    // max-height: unset !important
    box-shadow: none
    padding: 80px 50px
    +rwd(md)
        padding: 80px 60px
    ul
        list-style: initial
        padding-left: 1rem
    .close
        top: -30px
        right: 30px
