<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蝸牛綠洲 Snail Oasis</title>
    <link rel="stylesheet" href="dist/main.css">
    <style>
        #userState {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 97;
            /* display: none; */
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0&appId=405617263518270&autoLogAppEvents=1" nonce="PtvRz5Pa"></script>
    <div id="app">
        <!-- Header -->
        <my-header @switch-personalpage="switchPersonalPage"></my-header>
        <!-- 測試使用者狀態 -->
        <div id="userState">
            <h3>User State:</h3>
            <ul>
                <li v-for="(el,idx) of user.missions"><span>{{idx}}: </span> {{ el }}</li>
            </ul>
            <ul>
                <p>Achievements</p>
                <li v-for="(el, idx) of user.achievements"><span>{{idx}}: </span>{{el}}</li>
                <span>{{userGotAchievements}}</span>
            </ul>
        </div>
        <!-- 進場動畫 -->
        <enter :loading="interaction.nowLoading" @start-game="startGame"></enter>
        <!-- 主要遊戲畫面 -->
        <div id="canvasContainer"></div>
        <!-- Personal Page -->
        <transition name="fade">
            <personal-page v-if="interaction.showPersonalPage" :user-got-badges="userGotBadges"
                :user-got-achievements="userGotAchievements" :user-coins="user.coins"
                :user-got-furnitures="user.furnitures" :outer-show-personal-page="interaction.showPersonalPage"
                @switch-personal-page="switchPersonalPage"></personal-page>
        </transition>
        <!-- popup 對話框 -->
        <transition name="fade">
            <div class="mock" v-show="interaction.showPopup">
                <div class="wrapper" :style="showProgram ? 'align-items: flex-end' : ''">
                    <div class="mr-2 speak-img">
                        <img :src="itemSpeakImgSrc" alt="">
                    </div>
                    <!-- 一般對話 -->
                    <div v-if="!showProgram" key="dialogue" class="d-flex">
                        <div class="popup">
                            <!-- 不管怎樣都會有的見面招呼語 -->
                            <div>
                                <p v-if="nowSpeak == undefined || nowNPC.speaks[0] == ''">
                                    This is {{ itemSpeak }} speaking
                                </p>
                                <div class="game-ui">
                                    <!-- 有選項時的按鈕 -->
                                    <div v-if="showMissionBtn">
                                        <button v-for="btn of missionBtns" @click="checkAns(btn.correct);"
                                            class="my-btn" style="margin: 8px;">{{btn.option}}</button>
                                    </div>
                                    <div v-else>
                                        <p>
                                        <p>{{ nowSpeak }}</p>
                                        <p v-if="npcShowLink.url">
                                            <basic-link :title="npcShowLink.name" :url="npcShowLink.url"></basic-link>
                                        </p>
                                        </p>
                                        <div class="t-a-r">
                                            <button @click="pureNext" v-show="btnTxt"
                                                class="my-btn mt-1 outline">{{btnTxt}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 有認養行動案就顯示 -->
                            <template v-if="adoptable">
                                <hr class="mt-1" />
                                <p class="t-w-5 t-z-2 mb-1">加入認養行動：</p>
                                <div class="my-cta-container">
                                    <button @click="switchProgram" class="my-cta w-100 small gradient">
                                        <span>{{program.title}}</span>
                                        <div class="icon-container">
                                            <img src="./src/img/icons/arrow_rightLong_ht.svg" alt="" />
                                            <img src="./src/img/icons/arrow_rightLong_ht.svg" alt="" />
                                        </div>
                                    </button>
                                </div>
                            </template>
                            <!-- Close Button -->
                            <close-btn :outer-show-popup="interaction.showPopup" @switch-popup="switchPopup">
                            </close-btn>
                        </div>
                    </div>
                    <!-- 跳轉到行動案的視窗 -->
                    <div v-else key="adoption-dialogue" class="d-flex ain">
                        <div class="por">
                            <adoption :program="program" @adopted="showSysTxt"></adoption>
                            <close-btn :outer-show-popup="interaction.showPopup" @switch-popup="switchPopup">
                            </close-btn>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- 系統提示進度說明 -->
        <transition name="fade">
            <div class="mock" v-if="sys.popup">
                <div class="wrapper">
                    <div class="popup">
                        <p>{{sys.say}}</p>
                        <div class="t-a-r">
                            <button @click="sys.popup = !sys.popup" class="my-btn" style="margin: 0 8px;">確定</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- 留言板測試 -->
        <transition name="fade">
            <div class="mock" v-show="showMsgBoard">
                <div class="wrapper">
                    <div class="popup" style="width: unset;">
                        <h3 class="mb-2">蝸牛村留言版</h3>
                        <div class="fb-comments" data-href="https://ienming.github.io/snail-journey/" data-width="" data-numposts="5"></div>
                        <close-btn :outer-show-msg="showMsgBoard" @switch-msg="switchMsg">
                        </close-btn>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- PIXI -->
    <script src="https://pixijs.download/release/pixi.js"></script>
    <script src="https://unpkg.com/@pixi/sound/dist/pixi-sound.js"></script>
    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.js'
        integrity='sha512-1KGTH8Epj8H43YrKn130fyDzVvNn2YMoyYy6TmF2tgemLZ4sfSoAxRSPq9li4BKHdoON4GwwQUMPL2gFreHSbw=='
        crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/PixiPlugin.min.js"
        integrity="sha512-sSYM7MQVTmI4X9VmroJBmkixnxxX6TFRKfzXgFg7PXWz7VeYwGgEeqK7cVRZPFw30sjH3aZOhiwLv6ObJpoWRg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom -->
    <script type="module" src="dist/main.js"></script>
    <script src="src/js/components/PersonalPage.js"></script>
    <script src="src/js/components/Parts.js"></script>
    <script src="src/js/components/Enter.js"></script>
    <script src="src/js/components/Header.js"></script>
    <script src="src/js/globalVue.js"></script>
</body>

</html>