<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>蝸牛綠洲 Snail Oasis</title>
    <link rel="stylesheet" href="dist/main.css">
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0&appId=405617263518270&autoLogAppEvents=1" nonce="PtvRz5Pa"></script>
    <div id="app">
        <!-- Header -->
        <my-header @switch-personalpage="switchPersonalPage" :bg-sound="bgSound"></my-header>
        <!-- 測試使用者狀態 -->
        <user-state :achievements="user.achievements" :user-achieved="userGotAchievements"></user-state>
        <!-- 進場動畫 -->
        <enter :loading="interaction.nowLoading" :bg-sound="bgSound" @start-game="startGame"></enter>
        <!-- 新手教學 -->
        <novice-teach v-if="noviceShouldShow"></novice-teach>
        <!-- 主要遊戲畫面 -->
        <div id="canvasContainer"></div>
        <!-- Personal Page -->
        <transition name="fade">
            <personal-page v-if="interaction.showPersonalPage"
                :user-adoptions="user.adoptions"
                :user-got-achievements="userGotAchievements" :user-coins="user.coins"
                :user-got-furnitures="user.furnitures" :outer-show-personal-page="interaction.showPersonalPage"
                @switch-personal-page="switchPersonalPage"></personal-page>
        </transition>
        <!-- NPC House -->
        <transition name="fade">
            <house v-if="interaction.showHouse" :npc="nowNPC" @switch-house-page="switchHousePage"></house>
        </transition>
        <!-- popup 對話框 -->
        <transition name="fade">
            <div class="mock" v-show="interaction.showPopup">
                <div class="wrapper flex-column flex-md-row">
                    <div class="mb-2 mb-md-0 mr-md-2 speak-img">
                        <img :src="itemSpeakImgSrc" alt="">
                    </div>
                    <!-- 一般對話 -->
                    <template v-if="!showProgram">
                        <div key="dialogue" class="d-flex">
                            <div class="popup dialogue">
                                <!-- 不管怎樣都會有的見面招呼語 -->
                                <div>
                                    <p v-if="nowSpeak == undefined || nowNPC.speaks[0] == ''">
                                        This is {{ itemSpeak }} speaking
                                    </p>
                                    <div class="game-ui">
                                        <!-- 有選項時的按鈕 -->
                                        <div v-if="showMissionBtn">
                                            <button v-for="btn of missionBtns" @click="checkAns(btn.correct);"
                                                class="my-btn" style="margin: 8px;">{{btn.option}}</button>
                                        </div>
                                        <div v-else>
                                            <p v-html="nowSpeak"></p>
                                            <p v-if="npcShowLink.url">
                                                <basic-link :title="npcShowLink.name" :url="npcShowLink.url"></basic-link>
                                            </p>
                                            <!-- 有認養行動案就顯示 -->
                                            <span v-if="adoptable" @click="switchProgram" class="t-z-1 t-c-g">認養任務</span>
                                            <!-- 關閉對話 -->
                                            <div class="t-a-r">
                                                <button @click="pureNext" v-show="btnTxt"
                                                    class="my-btn mt-1 outline">{{btnTxt}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Close Button -->
                                <close-btn now-show="popup" @switch-popup="switchPopup"></close-btn>
                            </div>
                        </div>
                    </template>
                    <!-- 認養視窗 -->
                    <template v-else>
                        <div class="por">
                            <adoption :program="nowNPC.program" @adopted="showSysTxt"></adoption>
                            <close-btn now-show="popup" @switch-popup="switchPopup"></close-btn>
                        </div>
                    </template>
                </div>
            </div>
        </transition>
        <!-- 系統提示進度說明 -->
        <transition name="fade">
            <div class="mock" v-if="sys.popup">
                <div class="wrapper">
                    <div class="popup t-a-c dialogue">
                        <img :src="sys.img" alt="" v-if="sys.img" style="max-width: 40px;">
                        <p class="t-c-g t-w-5 mb-1" v-if="sys.abs">{{sys.abs}}</p>
                        <p>{{sys.say}}</p>
                        <div class="t-a-c mt-1">
                            <button @click="closeSysTxt" class="my-btn" style="margin: 0 8px;">確定</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- 留言板測試 -->
        <!-- <transition name="fade">
            <div class="mock" v-show="showMsgBoard">
                <div class="wrapper">
                    <div class="popup" style="width: unset;">
                        <h3 class="mb-2">蝸牛村留言版</h3>
                        <div class="fb-comments" data-href="https://ienming.github.io/snail-journey/" data-width="" data-numposts="5"></div>
                        <close-btn :outer-show-msg="showMsgBoard" @switch-msg="switchMsg">
                        </close-btn>
                    </div>
                </div>
            </div>
        </transition> -->
    </div>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- Axios -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.js' integrity='sha512-MNW6IbpNuZZ2VH9ngFhzh6cUt8L/0rSVa60F8L22K1H72ro4Ki3M/816eSDLnhICu7vwH/+/yb8oB3BtBLhMsA==' crossorigin='anonymous'></script>
    <!-- PIXI -->
    <script src="https://pixijs.download/release/pixi.js"></script>
    <script src="https://unpkg.com/@pixi/sound/dist/pixi-sound.js"></script>
    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.js'
        integrity='sha512-1KGTH8Epj8H43YrKn130fyDzVvNn2YMoyYy6TmF2tgemLZ4sfSoAxRSPq9li4BKHdoON4GwwQUMPL2gFreHSbw=='
        crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/PixiPlugin.min.js"
        integrity="sha512-sSYM7MQVTmI4X9VmroJBmkixnxxX6TFRKfzXgFg7PXWz7VeYwGgEeqK7cVRZPFw30sjH3aZOhiwLv6ObJpoWRg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom -->
    <script type="module" src="dist/main.js"></script>
    <script src="src/js/components/UserState.js"></script>
    <script src="src/js/components/PersonalPage.js"></script>
    <script src="src/js/components/House.js"></script>
    <script src="src/js/components/Adoption.js"></script>
    <script src="src/js/components/Parts.js"></script>
    <script src="src/js/components/Enter.js"></script>
    <script src="src/js/components/Header.js"></script>
    <script src="src/js/globalVue.js"></script>
</body>

</html>