<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="dist/main.css">
    <style>
        #userState {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 97;
            /* display: none; */
        }
    </style>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v13.0&appId=405617263518270&autoLogAppEvents=1" nonce="PtvRz5Pa"></script>
    <div id="app">
        <!-- Header -->
        <my-header @switch-personalpage="switchPersonalPage"></my-header>
        <!-- 測試使用者狀態 -->
        <div id="userState">
            <h3>User State:</h3>
            <ul>
                <li v-for="(el,idx) of user.missions"><span>{{idx}}: </span> {{ el }}</li>
            </ul>
            <ul>
                <p>Achievements</p>
                <li v-for="(el, idx) of user.achievements"><span>{{idx}}: </span>{{el}}</li>
                <span>{{userGotAchievements}}</span>
            </ul>
        </div>
        <!-- 進場動畫 -->
        <enter :loading="interaction.nowLoading" @start-game="startGame"></enter>
        <!-- 主要遊戲畫面 -->
        <div id="canvasContainer"></div>
        <!-- Personal Page -->
        <transition name="fade">
            <personal-page v-if="interaction.showPersonalPage" :user-got-badges="userGotBadges"
                :user-got-achievements="userGotAchievements" :user-coins="user.coins"
                :user-got-furnitures="user.furnitures" :outer-show-personal-page="interaction.showPersonalPage"
                @switch-personal-page="switchPersonalPage"></personal-page>
        </transition>
        <!-- popup 對話框 -->
        <transition name="fade">
            <div class="mock" v-show="interaction.showPopup">
                <div class="wrapper" :style="showProgram ? 'align-items: flex-end' : ''">
                    <div class="mr-2 speak-img">
                        <img :src="itemSpeakImgSrc" alt="">
                    </div>
                    <!-- 一般對話 -->
                    <div v-if="!showProgram" key="dialogue" class="d-flex">
                        <div class="popup">
                            <!-- 不管怎樣都會有的見面招呼語 -->
                            <div>
                                <p v-if="nowSpeak == undefined || nowNPC.speaks[0] == ''">
                                    This is {{ itemSpeak }} speaking
                                </p>
                                <div class="game-ui">
                                    <!-- 有選項時的按鈕 -->
                                    <div v-if="showMissionBtn">
                                        <button v-for="btn of missionBtns" @click="checkAns(btn.correct);"
                                            class="my-btn" style="margin: 8px;">{{btn.option}}</button>
                                    </div>
                                    <div v-else>
                                        <p>
                                        <p>{{ nowSpeak }}</p>
                                        <p v-if="npcShowLink.url">
                                            <basic-link :title="npcShowLink.name" :url="npcShowLink.url"></basic-link>
                                        </p>
                                        </p>
                                        <div class="t-a-r">
                                            <button @click="pureNext" v-show="btnTxt"
                                                class="my-btn mt-1 outline">{{btnTxt}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 有認養行動案就顯示 -->
                            <template v-if="adoptable">
                                <hr class="mt-1" />
                                <p class="t-w-5 t-z-2 mb-1">加入認養行動：</p>
                                <div class="my-cta-container">
                                    <button @click="switchProgram" class="my-cta w-100 small gradient">
                                        <span>{{program.title}}</span>
                                        <div class="icon-container">
                                            <img src="./src/img/icons/arrow_rightLong_ht.svg" alt="" />
                                            <img src="./src/img/icons/arrow_rightLong_ht.svg" alt="" />
                                        </div>
                                    </button>
                                </div>
                            </template>
                            <!-- Close Button -->
                            <close-btn :outer-show-popup="interaction.showPopup" @switch-popup="switchPopup">
                            </close-btn>
                        </div>
                    </div>
                    <!-- 跳轉到行動案的視窗 -->
                    <div v-else key="adoption-dialogue" class="d-flex ain">
                        <div class="por">
                            <adoption :program="program" @adopted="showSysTxt"></adoption>
                            <close-btn :outer-show-popup="interaction.showPopup" @switch-popup="switchPopup">
                            </close-btn>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- 系統提示進度說明 -->
        <transition name="fade">
            <div class="mock" v-if="sys.popup">
                <div class="wrapper">
                    <div class="popup">
                        <p>{{sys.say}}</p>
                        <div class="t-a-r">
                            <button @click="sys.popup = !sys.popup" class="my-btn" style="margin: 0 8px;">確定</button>
                        </div>
                    </div>
                </div>
            </div>
        </transition>
        <!-- 留言板測試 -->
        <transition name="fade">
            <div class="mock" v-show="showMsgBoard">
                <div class="wrapper">
                    <div class="popup" style="width: unset;">
                        <h3 class="mb-2">蝸牛村留言版</h3>
                        <div class="fb-comments" data-href="https://ienming.github.io/snail-journey/" data-width="" data-numposts="5"></div>
                        <close-btn :outer-show-msg="showMsgBoard" @switch-msg="switchMsg">
                        </close-btn>
                    </div>
                </div>
            </div>
        </transition>
    </div>

    <!-- Vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- PIXI -->
    <script src="https://pixijs.download/release/pixi.js"></script>
    <script src="https://unpkg.com/@pixi/sound/dist/pixi-sound.js"></script>
    <!-- GSAP -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.js'
        integrity='sha512-1KGTH8Epj8H43YrKn130fyDzVvNn2YMoyYy6TmF2tgemLZ4sfSoAxRSPq9li4BKHdoON4GwwQUMPL2gFreHSbw=='
        crossorigin='anonymous'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/PixiPlugin.min.js"
        integrity="sha512-sSYM7MQVTmI4X9VmroJBmkixnxxX6TFRKfzXgFg7PXWz7VeYwGgEeqK7cVRZPFw30sjH3aZOhiwLv6ObJpoWRg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom -->
    <script type="module" src="dist/main.js"></script>
    <script src="src/js/components/PersonalPage.js"></script>
    <script src="src/js/components/Parts.js"></script>
    <script src="src/js/components/Enter.js"></script>
    <script src="src/js/components/Header.js"></script>
    <script src="src/js/globalVue.js"></script>
    <!-- <script>
        const vm = new Vue({
            el: "#app",
            data: {
                interaction: {
                    nowClicked: false,
                    nowLoading: true,
                    showPopup: false,
                    showPersonalPage: false,
                    nowAns: true,
                    cursorImg: 'src/img/icons/menu.png'
                },
                sys: {
                    popup: false,
                    say: ""
                },
                adoptable: false,
                program: undefined,
                showProgram: false,
                showMissionBtn: false,
                btnTxt: "關閉",
                nowSpeak: undefined,
                itemSpeak: undefined,
                nowNPC: undefined,
                npcShowLink: {},
                achievementMap: {
                    block1: ['snail_mryeh', 'snail_oasis', 'snail_text', 'snail_book', 'snail_paint'],
                    block2: ['snail_cinnamon', 'snail_scone', 'snail_dorayaki', 'snail_greenbean'],
                    block3: ['board', 'bike'],
                },
                user: {
                    missions: {
                        mission1: [],
                        mission2: [],
                        mission3: [],
                    },
                    achievements: {
                        block1: [],
                        block2: [],
                        block3: [],
                    },
                    coins: 100000,
                    furnitures: []
                },
                userRecord: {}
            },
            computed: {
                itemSpeakImgSrc() {
                    if (this.itemSpeak !== undefined) {
                        return `src/img/${this.itemSpeak}.png`
                    }
                },
                finishedProgress() {
                    if (this.nowNPC) {
                        return this.user.missions[`mission${this.nowNPC.mission}`].length
                    } else return
                },
                userGotBadges() {
                    let badges = {
                        mission1: false,
                        mission2: false,
                        mission3: false
                    }
                    for (let prop in this.user.missions) {
                        if (this.user.missions[prop].indexOf('finished') !== -1) {
                            badges[prop] = true
                        }
                    }
                    return badges
                },
                userGotAchievements() {
                    let output = {}
                    let maps = 0
                    for (prop in this.achievementMap) {
                        maps++
                    }
                    for (let i = 0; i < maps; i++) {
                        let map = this.achievementMap[`block${i + 1}`]
                        let userGotArr = this.user.achievements[`block${i + 1}`]
                        if (userGotArr.length > 0) {
                            if (map.length == userGotArr.length && map.every(val => userGotArr.includes(val))) {
                                let blockName = ""
                                switch (i + 1) {
                                    case 1:
                                        blockName = "文藝生活區"
                                        break;
                                    case 2:
                                        blockName = "慢活甜點區"
                                        break;
                                }
                                output[`block${i + 1}`] = `${blockName}finished！`
                            } else {
                                output[`block${i + 1}`] = `尚未探索完區域${i + 1}`
                            }
                        } else {
                            output[`block${i + 1}`] = `區域${i + 1}尚未開始`
                        }
                    }
                    return output
                },
                missionBtns() {
                    if (this.showMissionBtn) {
                        let btns = this.showMissionBtn.split("+") //包有多個選項內容的陣列
                        let arr = []
                        btns.forEach(btn => {
                            let obj = {}
                            if (btn.indexOf("Y") !== -1) { //確認是不是對的選項
                                obj.option = btn.slice(-btn.length, -1)
                                obj.correct = true
                            } else {
                                obj.option = btn
                            }
                            arr.push(obj)
                        })
                        return arr
                    } else return
                }
            },
            created() {
                // fetch data from localStorage
                for (prop in this.user) {
                    let record = JSON.parse(localStorage.getItem(prop))
                    if (record) {
                        this.userRecord[prop] = record
                        this.user[prop] = record
                    } else {
                        console.log(`no record of ${prop}`)
                    }
                }
            },
            mounted() {
                console.log("vue completed load")
            },
            watch: {
                'user.missions': {
                    handler: function (newValue, oldValue) {
                        for (prop in newValue) {
                            if (newValue[prop].join().indexOf("finished") !== -1) {
                                console.log("任務資料完成的變動，開始儲存")
                                let d = JSON.stringify(newValue)
                                this.storageData('missions', d)
                            }
                        }
                    },
                    deep: true
                },
                'user.achievements': {
                    handler: function (newValue, oldValue) {
                        console.log("區塊發現資料有變動，開始儲存")
                        let d = JSON.stringify(newValue)
                        this.storageData('achievements', d)
                    },
                    deep: true
                },
                'user.furnitures': {
                    handler: function (newValue, oldValue) {
                        console.log("家具資料有變動，開始儲存")
                        let d = JSON.stringify(newValue)
                        this.storageData('furnitures', d)
                    }
                },
                'user.coins': {
                    handler: function (newValue, oldValue) {
                        console.log("蝸牛幣資料有變動，開始儲存")
                        let d = JSON.stringify(newValue)
                        this.storageData('coins', d)
                    }
                }
            },
            methods: {
                switchPopup() {
                    this.interaction.showPopup = !this.interaction.showPopup
                    this.npcShowLink = {}
                    //如果點到講廢話的NPC然後關閉視窗
                    if (this.nowNPC.enterGame !== 1 && this.user.achievements[`block${this.nowNPC.mission}`].indexOf(this.nowNPC.name) == -1) {
                        this.user.achievements[`block${this.nowNPC.mission}`].push(this.nowNPC.name)
                    }
                    //如果遊戲講話到一半的NPC被關閉
                    if (this.nowNPC.enterGame == 1 && this.finishedProgress + 1 < this.nowNPC.gameSpeaks.length) {
                        this.user.missions[`mission${this.nowNPC.mission}`] = []
                    }
                    window.setTimeout(() => {
                        this.showProgram = false
                    }, 100)
                },
                switchPersonalPage() {
                    this.interaction.showPersonalPage = !this.interaction.showPersonalPage
                },
                switchProgram() {
                    this.showProgram = true
                },
                startGame() {
                    this.interaction.nowLoading = false
                },
                checkAns(correct) {
                    if (correct) {
                        this.pureNext()
                        this.interaction.nowAns = true
                    } else {
                        this.nowSpeak = this.nowNPC.gameSpeakN
                        this.btnTxt = "關閉"
                        this.showMissionBtn = undefined
                        this.interaction.nowAns = false
                    }
                },
                pureNext() {
                    if (!this.interaction.nowAns) { //已經答錯了，要關閉視窗
                        this.switchPopup()
                        return
                    }
                    // 以下是正常運作對話進度
                    if (this.nowNPC.gameSpeaks) {
                        if (this.user.missions[`mission${this.nowNPC.mission}`].indexOf('finished') == -1) {
                            if (this.finishedProgress + 1 < this.nowNPC.gameSpeaks.length) {// 判斷對話結束了沒
                                this.user.missions[`mission${this.nowNPC.mission}`].push(this.nowNPC.name) //推進到下一步
                                if (this.nowNPC.gameOptions && this.nowNPC.gameOptions[this.finishedProgress]) { // 判斷目前的進展有沒有遊戲選項
                                    this.showMissionBtn = this.nowNPC.gameSpeaks[this.finishedProgress]
                                } else {
                                    // 顯示對話內容
                                    this.nowSpeak = this.nowNPC.gameSpeaks[this.finishedProgress]
                                    this.showMissionBtn = undefined
                                }
                                if (this.nowNPC.linkShow && this.nowNPC.linkShow[this.finishedProgress]) { // 判斷是不是有連結要顯示
                                    let linkNum = 0
                                    for (let i = 0; i < this.finishedProgress; i++) {
                                        if (this.nowNPC.linkShow[i] == 1) {
                                            linkNum++
                                        }
                                    }
                                    this.npcShowLink.name = "測試外部連結"
                                    this.npcShowLink.url = this.nowNPC.link[linkNum]
                                    console.log('here')
                                } else {
                                    this.npcShowLink = {} //關閉顯示外部連結
                                }
                                if (this.finishedProgress + 1 == this.nowNPC.gameSpeaks.length) {// 判斷是不是倒數
                                    this.btnTxt = "關閉"
                                }
                            } else if (this.finishedProgress + 1 == this.nowNPC.gameSpeaks.length) { //正要結束
                                this.user.missions[`mission${this.nowNPC.mission}`].push('finished') //記錄結束
                                this.switchPopup()
                                this.user.achievements[`block${this.nowNPC.mission}`].push(this.nowNPC.name)
                                this.checkBlockFinished()
                            }
                        } else this.switchPopup()
                    } else { //廢話黨
                        if (this.user.achievements[`block${this.nowNPC.mission}`].indexOf(this.nowNPC.name) == -1) {
                            this.user.achievements[`block${this.nowNPC.mission}`].push(this.nowNPC.name)
                            // 判斷對話完後自己這區有沒有完成
                            this.checkBlockFinished()
                        }
                        this.switchPopup()
                    }
                },
                storageData(key, value) {
                    localStorage.setItem(key, value)
                },
                showSysTxt(txt) {
                    this.sys.popup = true
                    this.sys.say = txt
                },
                checkBlockFinished() {
                    if (this.userGotAchievements[`block${this.nowNPC.mission}`].indexOf("finished") !== -1) {
                        blockFinished = this.nowNPC.mission
                        window.setTimeout(() => {
                            let output
                            switch (blockFinished) {
                                case 1:
                                    output = "文藝生活區"
                                    break;
                                case 2:
                                    output = "慢活甜點區"
                                    break;
                            }
                            this.showSysTxt(`探索完${output}了！可以到房間裡看看解鎖的家具囉！`)
                        }, 800)
                    }
                }
            }
        })
    </script> -->
</body>

</html>